tensorflow==2.15.0
keras==3.0.5
numpy
pandas
joblib
scikit-learn==1.2.2
spotipy
st_pages==0.3.5
streamlit-image-select
streamlit-bridge
python-dotenv==1.0.1
google-generativeai==0.3.2
streamlit==1.30.0
streamlit-audiorecorder
git+https://github.com/johnryan465/whispercpp.py
git+https://github.com/openai/whisper.git
gTTS
