/* Streamlit */
[data-testid="stHeader"], [data-testid="StyledLinkIconContainer"] {
    display: none;
}
[data-testid="stAppViewContainer"] {
    background: linear-gradient(0deg, rgba(188,48,235,0.26) 0%, rgba(29,3,37,1) 100%) !important;
}

[data-testid="stAppViewBlockContainer"] {
    padding: 0 !important;
}

[data-testid="stVerticalBlock"] {
    gap: 0 !important;
}

[data-testid="stCameraInput"] {
    width: 50vw;
}

iframe {
    color-scheme: none !important;
    border: 1px solid black;
    width: 90vw;
    height: 70vh;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
}

.st-emotion-cache-o4i9sp{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */
#header {
    height: 80px;
}

.link-div {
    margin-right: 5%;
}

.header-link, .about-us-links {
    color: #FFFFFF !important;
    text-decoration: none;
    position: relative;
}

.header-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #D8D3D3;
    transition: all 0.3s ease-in-out;
}

.header-link:hover, .about-us-links:hover {
    color: #D8D3D3 !important;
    text-decoration: none;
}

.header-link:hover::after {
    width: 100%;
    left: 0;
}

/* Inicio */

@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

.francois-one-regular {
    font-family: "Francois One", sans-serif;
    font-weight: 400;
    font-size: 2.75em;
    font-style: normal;
}
.dm-sans-4 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5em;
    font-weight: 400;
    font-style: normal;
}

#inicio-body {
    width: 90vw;
    height: 80vh;
    margin: auto;
}

#btn-empezar {
    width: 37%;
    background-color: #946EA6;
    color: #FFFFFF;
    text-decoration: none;
}

#inicio-img {
    max-width: 400px;
    min-width: 300px;
}

#inicio-titulo {
    font-family: "FrancoisOne", sans-serif;
}

#inicio-texto {
    font-family: "DMSans", sans-serif;
}

#inicio-beatbuddy {
    padding-top: 3%;
    padding-bottom: 3%;
}

/* Asistente Musical */

#asistente-body {
    width: 90vw;
    margin: 5% auto 0 auto;
}

/* Sobre nosotros */

#about-us {
    width: 90vw;
    height: 70vh;
    margin: 5% auto 0 auto;
}

#about-us-descrip {
    width: 60%;
}

#linkedin-img {
    max-width: 50px;
    min-width: 40px;
}

#github-img {
    max-width: 50px;
    min-width: 40px;
}