/* Streamlit */
[data-testid="stHeader"],
[data-testid="StyledLinkIconContainer"] {
  display: none;
}
[data-testid="stAppViewContainer"] {
  background: linear-gradient(
    0deg,
    rgba(188, 48, 235, 0.26) 0%,
    rgba(29, 3, 37, 1) 100%
  ) !important;
}

[data-testid="stAppViewBlockContainer"] {
  padding: 0 !important;
}

[data-testid="stVerticalBlock"] {
  gap: 0 !important;
}

[data-testid="stCameraInput"] {
  width: 100vh;
  margin: 0 auto;
  margin-bottom: 8px;
}

[data-testid="stFileUploader"] {
  width: max-content;
  margin: 0 auto;
  margin-bottom: 20px;
}
[data-testid="stFileUploader"] section {
  padding: 0;
  float: left;
}
[data-testid="stFileUploader"] section > input + div {
  display: none;
}
[data-testid="stFileUploader"] section + div {
  float: right;
  padding-top: 0;
}

[data-testid="stImage"] {
  height: 10% !important;
  width: auto !important;
  margin: 0 auto;
  margin-top: 20px;
}

iframe[data-testid="stIFrame"] {
  color-scheme: none !important;
  width: 100% !important;
  height: 100vh; 
  margin: 0 auto;
}

.st-emotion-cache-o4i9sp {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
#header {
  height: 80px;
}

.link-div {
  margin-right: 5%;
}

.header-link,
.about-us-links {
  color: #ffffff !important;
  text-decoration: none;
  position: relative;
}

.header-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #d8d3d3;
  transition: all 0.3s ease-in-out;
}

.header-link:hover,
.about-us-links:hover {
  color: #d8d3d3 !important;
  text-decoration: none;
}

.header-link:hover::after {
  width: 100%;
  left: 0;
}

.logo {
  margin-right: auto;
  margin-left: 20px;
}

.logo img {
  width: 65px;
  height: auto;
}

/* Inicio */

@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

.francois-one-regular {
  font-family: "Francois One", sans-serif !important;
  font-weight: 400;
  font-size: 2.75em;
  font-style: normal;
}
.dm-sans-4 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.5em;
  font-weight: 400;
  font-style: normal;
}

#inicio-body {
  width: 90vw;
  height: 70vh;
  margin: auto;
}

#btn-empezar {
  width: 37%;
  background-color: #946ea6;
  color: #ffffff;
  text-decoration: none;
}

#inicio-img {
  max-width: 400px;
  min-width: 300px;
}

#inicio-titulo {
  font-family: "FrancoisOne", sans-serif;
}

#inicio-texto {
  font-family: "DMSans", sans-serif;
}

#inicio-beatbuddy {
  padding-top: 3%;
  padding-bottom: 3%;
}

/* Asistente Musical */

#textopred {
  padding-top: 10%;
  padding-bottom: 10%;
}

#asis-body {
  height: 35vh;
  font-family: "Francois One", sans-serif;
}

div[data-testid="element-container"] {
  text-align: center; /* Centrar los elementos dentro del contenedor */
}

div[data-testid="element-container"] iframe {
  width: 330px; /* Establecer ancho fijo para el iframe */
  margin: 0 auto; /* Centrar horizontalmente el iframe */
  color: black;
}

[data-testid="stSelectbox"] {
  width: 300px !important;
  margin: 0 auto;
  margin-bottom: 2%;
}

.pregunta {
  padding-top: 3%;
}

#cancionesAsis {
  margin-bottom: 80px;
}

/* Reconocimiento facial*/
#recog-body {
  height: 35vh;
}

#subir {
  height: 10vh;
  width: 50vh;
  border-radius: 10px;
  margin: 0 auto;
}

#uploadimg {
  width: 15%;
  margin-left: 5px;
}

#iframeRecog {
  width: 100vh;
  height: 100vh;
  margin-bottom: 2%;
}

/* Sobre nosotros */

#about-us {
  width: 90vw;
  height: 70vh;
  margin: 5% auto 0 auto;
}

#about-us-descrip {
  width: 60%;
}

#linkedin-img {
  max-width: 50px;
  min-width: 40px;
}

#github-img {
  max-width: 50px;
  min-width: 40px;
}
